[theme]

# Set sliders, chekcboxes and butttons
primaryColor = "#402ea5" 

backgroundColor = "#08090b"

# Sidebar bgcolor
secondaryBackgroundColor = "#0c0d0f"

textColor = "#FAFAFA"

font = "sans serif"