[connections.gsheets]
spreadsheet = "spreadsheetlink"
type = "service_account"
project_id = "projectid"
private_key_id = "privatekey_id"
private_key = "privatekey"
client_email = "service_account_email"
client_id = "client_id"
token_uri = "token"
